.container {
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.other-pages {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thoughts-container {
    background-image: url("ThoughtsBKG.png");
    background-size: cover;
    background-position: 35% 80%;
    grid-row: 1;
    cursor:pointer;
}

#projects-container {
    background-image: url("ProjectsBKG.png");
    background-size: cover;
    background-position: 35% 70%;
    grid-row: 2;
    cursor:pointer;
}

.recent-container {
    grid-column: 1/ span 2;
    grid-row: 1/ span 3;
}

.recent-container .posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vh;
}

.recent-container .posts a{ /* individual post*/
    display: flex;
    width:45%;
    height: 23vh;
    border: 1px solid rgb(0,23,0); /*testing*/
    text-decoration: none;
    color: #333;
    justify-content: center;
    align-items: center;
}

.recent-container .posts a:hover {
    color: #0073e6;
}

.block-head {
    text-align:center;
}